.container-fluid {
    background-color: #18151f;
}

a.navbar-brand {
    color: white;
    font-size: 5rem;
    font-weight: 700;
}

.navbar-brand:hover {
    opacity: 0.7;
}

li a {
    color: white;
    font-size: 1.2rem;
    border: 2px solid rgba(0, 0, 0, 0);
}

li a:hover {
    color: #bbbcbd !important;
    border-bottom: 2px solid #bbbcbd;
}

.bg-light {
    background-color: #18151f !important;
}

@media screen and (max-width: 500px) {
    a.navbar-brand {
        font-size: 3rem;
    }
}