<div class="container">
    <div class="row" style="margin-left: 2px;">
        <div class="col">
            <h1 style="font-weight: 600;">{{'Welcome to The Pet Store!' | uppercase}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <section class="dark">
                <div class="container py-4">
                    <a class="postcard__img_link" routerLink="/pets/all">
                        <article class="postcard dark">
                            <img class="postcard__img"
                                src="https://images.unsplash.com/photo-1525253013412-55c1a69a5738?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHBldHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                alt="All Pets" />
                            <div class="postcard__text">
                                <h1 class="postcard__title">ALL PETS</h1>
                                <div class="postcard__bar"></div>
                                <div class="postcard__preview-txt">Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit.
                                    Excepturi est ratione vitae, animi ipsa, laborum temporibus, ea placeat iure
                                    aspernatur
                                    quasi rerum itaque officiis aliquid?</div>
                            </div>
                        </article>
                    </a>
                    <a class="postcard__img_link" routerLink="/pets/add-pet">
                        <article class="postcard dark">
                            <img class="postcard__img"
                                src="https://images.unsplash.com/photo-1517519014922-8fc06b814a0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                                alt="New Pet" />
                            <div class="postcard__text">
                                <h1 class="postcard__title">NEW PET</h1>
                                <div class="postcard__bar"></div>
                                <div class="postcard__preview-txt">Lorem, ipsum dolor sit amet consectetur adipisicing
                                    elit.
                                    Doloribus eos quibusdam reiciendis veritatis, sit ut, vero praesentium amet commodi
                                    illum adipisci cumque incidunt, dignissimos aut.</div>
                            </div>
                        </article>
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>