/* Table Styles Start */

table {
    width: 100%;
}

.mat-column-id {
    width: 300px;
    border-right: 1px solid #18151F;
    padding-right: 24px;
    font-size: 18px;
    text-align: start;
    font-style: italic;
}

.mat-column-name, .mat-column-status {
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

.mat-row:hover .mat-cell {
    border-top: 2px solid #18151F !important;
    border-bottom: 2px solid #18151F !important;
    opacity: 0.7;
    cursor: pointer;
}

/* Table Styles End */

/* Spinner Stlyes Start */
.spinnerStyles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

/* Spinner Stlyes End */