<div class="container" style="padding-right: 24px;">
    <div class="row my-5">
        <div class="col">
            <h1 style="font-weight: 700; margin-bottom: 0px;">Add New Pet</h1>
            <small>Here you can add your own pet with all the necessary information.</small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form [formGroup]="petForm" (ngSubmit)="onSubmit()" class="row g-3">
                <div class="col-md-6">
                    <label for="petName" class="form-label">Pet Name</label>
                    <input type="text" class="form-control" id="petName" placeholder="Pet Name"
                        formControlName="petName">
                </div>
                <div class="col-md-6">
                    <label for="category" class="form-label">Category</label>
                    <input type="text" class="form-control" id="category" placeholder="Category"
                        formControlName="category">
                </div>
                <div class="col-md-6">
                    <label for="photoUrl" class="form-label">Photo Url</label>
                    <input type="text" class="form-control" id="photoUrl" placeholder="Photo Url"
                        formControlName="photoUrl">
                </div>
                <div class="col-md-6">
                    <label for="tag" class="form-label">Tag</label>
                    <input type="text" class="form-control" id="tag" placeholder="Tag" formControlName="tag">
                </div>
                <div class="col-12">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" formControlName="status">
                        <option *ngFor="let status of allStatus" value="{{status}}">{{status | titlecase}}</option>
                    </select>
                </div>
                <div class="col-12 my-5 text-center">
                    <button type="submit" class="customBtn" [disabled]="!petForm.valid">Add Pet</button>
                </div>
            </form>
        </div>
    </div>
</div>